global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/alerts.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093

scrape_configs:
  - job_name: scr_app
    metrics_path: /metrics/prometheus
    static_configs:
      - targets:
          - host.docker.internal:4000
